//Main Colors
$colorOne: #e8f4f2;
$colorTwo: #40c1ac;
$colorThree: #9fbdd0;
$colorFour: #4985bb;
$colorFive: #f30b63;

//Mono Colors
$colorMonoOne: #f1f1f1;
$colorMonoTwo: #e1e1e1;
$colorMonoThree: #cccccc;
$colorMonoFour: #999999;
$colorMonoFive: #666666;
$colorMonoSix: #333333;
$colorMonoSeven: #000000;

//Special Color
$colorBanner: #e4e7f0;
