@import "colors";
@import "../mixins/typography";

h1 {
  color: $colorMonoSeven;

  @include typo-h1;
}

h2 {
  color: $colorMonoSeven;

  @include typo-h2;
}

h3 {
  color: $colorMonoSeven;

  @include typo-h3;
}

h4 {
  color: $colorMonoSeven;

  @include typo-h4;
}

h5 {
  color: $colorMonoSeven;

  @include typo-h5;
}

p {
  color: $colorMonoFour;

  @include typo-p;
}

.special {
  color: $colorTwo;

  @include typo-special;
}

.small {
  color: $colorMonoFive;

  @include typo-psmall;
}

.notes {
  color: $colorMonoFour;

  @include typo-psmall;
}
