@import "src/styles/globals/colors";
@import "src/styles/globals/variables";

#NavBar {
  display: flex;
  justify-content: space-between;

  padding: 0 40px;

  height: 100px;

  .l-side {
    display: flex;

    width: 100%;
    height: 100%;
  }
  .r-side {
    display: flex;
    justify-content: flex-end;

    height: 100%;
  }

  .logo-wrap {
    align-self: center;

    margin-right: 31px;

    cursor: pointer;

    .logo {
      height: 47px;
    }
  }

  .separator {
    align-self: center;
    margin: 0 31px 0 0;

    width: 2px;
    height: 40px;

    background-color: $colorMonoTwo;

    &.nav-logo {
      margin: 0;
    }
  }

  .menu {
    display: flex;
    flex-flow: row;
    align-items: center;

    padding-left: 4px;

    width: 100%;

    .item {
      padding: 0 2px 0 24px;
      border-bottom: 1px solid transparent;

      cursor: pointer;

      font-size: 16px;
      font-family: $ffRubik;
      font-weight: 500;
      letter-spacing: 2px;

      &:hover {
        border-bottom: 1px solid $colorMonoSeven;
      }
    }
  }

  .cart {
    display: flex;
    flex-flow: row;
    align-items: center;

    .icon-wrap {
      margin-right: 16px;

      cursor: pointer;

      .icon {
        height: 24px;
      }
    }
  }

  .search {
    display: flex;
    flex-flow: row;
    align-items: center;

    cursor: pointer;

    .s-icon {
      margin: 0 14px 0 0;

      width: 24px;
      height: 24px;
    }

    .search-txt {
      display: block;

      font-size: 16px;
      font-family: $ffRubik;
      font-weight: 700;
    }
  }
}
