@import "src/styles/globals/colors";
@import "src/styles/globals/variables";

#Specials {
  margin: 0 0 100px 0;
  padding: 0 40px;

  .specials-header {
    margin-bottom: 69px;

    text-align: center;
    text-transform: uppercase;
  }

  .deal-slider {
    position: relative;
    display: block;

    .deal-container {
      display: flex;
      justify-content: center;

      margin: 0 40px;
    }

    .controls {
      .left,
      .right {
        position: absolute;
        top: 50%;

        margin-top: -22px;
        padding: 4px;
        width: 40px;
        height: 40px;

        background-color: white;
        box-shadow: 0 0 10px $colorMonoTwo;

        cursor: pointer;
        transition: box-shadow ease 0.2s;

        &:hover {
          box-shadow: 0 0 10px $colorMonoFour;
        }

        .icon {
          width: 100%;
          height: 100%;
        }
      }
      .left {
        left: 0;

        .icon {
          transform: rotate(180deg);
        }
      }
      .right {
        right: 0;
      }
    }
  }

  .cta-deals {
    display: inline-block;
    align-self: center;

    margin: 20px auto 0 auto;
    border: 1px solid $colorTwo;
    padding: 15px 30px;

    color: $colorTwo;

    font-family: $ffRubik;
    text-transform: uppercase;
    letter-spacing: 0.8px;

    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: $colorTwo;
      color: white;
    }
  }

  .center {
    text-align: center;
  }
}
