@import "src/styles/globals/colors";
@import "src/styles/globals/variables";

#TryOnTutorial {
  margin-bottom: 100px;
  padding: 100px 40px;
  background: linear-gradient(130deg, #ffffff 0%, $colorOne 100%);

  .wrapper {
    position: relative;

    margin: auto;
    padding: 20px;
    max-width: 1400px;
  }

  .play-wrap {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: center;
    align-content: center;

    margin: -45px -45px 0 0;
    border-radius: 50%;
    width: 90px;
    height: 90px;

    background-color: $colorTwo;

    cursor: pointer;
    transition: background-color 0.3s;

    z-index: 10;

    &:hover {
      background-color: #2ed9bd;
    }

    .icon {
      margin: auto;

      width: 30px;
      height: 30px;

      fill: white;
    }
  }

  .cta-try {
    display: inline-block;
    align-self: center;

    margin: 20px auto 0 auto;
    border: 1px solid $colorTwo;
    padding: 15px 30px;

    color: $colorTwo;

    font-family: $ffRubik;
    text-transform: uppercase;
    letter-spacing: 0.8px;

    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: $colorTwo;
      color: white;
    }
  }

  .text-wrapper {
    max-width: 30vw;

    .section-heading {
      margin-bottom: 20px;

      color: $colorTwo;

      font-size: 56px;
      line-height: normal;
    }

    .section-p {
      margin-bottom: 20px;

      color: $colorTwo;

      line-height: normal;
      font-size: 29px;
      font-weight: 400;
    }
  }

  .image-wrapper {
    position: absolute;
    top: 0;
    right: 0;

    max-width: 45vw;

    .img {
      width: 100%;
      height: auto;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99992;

    background: $colorMonoSeven;
    display: none;

    transition: opacity 0.2s;

    &.open {
      background: rgba(0, 0, 0, 0.7);
      display: block;
    }

    .modal-content {
      display: flex;
      align-content: center;
      justify-content: center;

      width: 100%;
      height: 100%;
    }

    .video {
      margin: auto;

      width: 560px;
      height: 315px;
    }
  }
}
